body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #ff5f8f, #ff99ac);
    color: white;
    overflow-x: hidden;
}

.container {
    margin-top: 100px;
}

h1 {
    font-size: 40px;
}

.buttons {
    margin-top: 30px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
}


#yesBtn {
    background-color: white;
    color: #ff3366;
}

#noBtn {
    background-color: #333;
    color: white;
}

button:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.gallery {
    margin-top: 30px;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255,255,255,0.7);
}
body {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

.container {
    margin-top: 60px;
}

.main-img {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 20px white;
}

.love-text {
    font-size: 20px;
    margin-top: 20px;
    padding: 0 20px;
    line-height: 1.6;
}

